.field--name-field-link-secondary {
  text-align: center;

  a {
    border: 1px solid $color-canvas-inverted;
    border-radius: 50px;
    box-shadow: 0 0 1px 0 $color-canvas-inverted inset,
      0 0 1px 0 $color-canvas-inverted;
    color: $color-text-primary;
    display: inline-block;
    line-height: 1.5rem;
    padding: 8px 36px;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
    font-size: 14px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: $color-canvas-inverted;
      color: $color-text-primary-inverted;
    }
  }
}
