.field--name-field-paragraph-background {
  position: absolute;
  inset: 0;
  z-index: -1;

  .media {
    opacity: .6;
    height: 100%;
    animation: change-background 1s ease-in-out;

    .field,
    .field__item {
      height: 100%;
    }

    .field__item>* {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@keyframes change-background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .6;
  }
}
