vendor/
node_modules/
dist/
drupal/web/core/
drupal/web/libraries/
drupal/web/modules/contrib/
drupal/web/themes/contrib/
drupal/private_files/
drupal/web/sites/default/files/
!drupal/private_files/.htaccess
