// .field--name-field-services {
//   display: inline-flex;
//   gap: 24px;
//   overflow-x: auto;
//   padding-bottom: 24px;
//   padding-right: 62.5px;
//   width: 100%;
// }

// @media (min-width: 768px) {
//   .field--name-field-services {
//     padding-left: 80px;
//     padding-right: 80px;
//   }
// }

@media (min-width: 1200px) {
  .field--name-field-services {
    justify-content: center;
    padding-right: initial;

    @for $i from 1 through 4 {
      >.field__item:nth-of-type(#{$i}) {
        margin-top: $i * 24px;

        &:hover {
          margin-top: ($i - 1) * 24px;
          transition: margin .25s ease-in-out;

          @if $i ==4 {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}