.field.field--name-field-service-price {
  border-bottom: 1px solid gray;
  padding-bottom: 36px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  font-size: 3rem;
  line-height: 3rem;
  display: flex;
  align-items: baseline;

  >span {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
}