.field.field--name-field-service-advantages {
  color: #fff;
  margin-bottom: 36px;

  ul {
    margin-left: 12px;

    >li {
      font-family: 'Everett', sans-serif;
      font-size: .75rem;
      line-height: 1.75rem;
      padding-left: 8px;
      margin-bottom: 0;

      &::marker {
        font-size: 0.875rem;
      }
    }
  }

}