.products-background {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .3;

  &.animated {
    animation: change-products-background .75s ease-in-out;
  }
}