.paragraph--type--paragraph-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-self: center;
  width: calc(100% - 125px);
  margin: 0 auto;

  .field--name-field-hero-title {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 25px;
  }

  .field--name-field-hero-subtitle {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0;
    color: #898989;
  }
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-hero {
    width: calc(100% - 160px);
    max-width: 1980px;
    text-align: right;

    .field--name-field-hero-title {
      margin-bottom: 50px;
    }
  }
}