.paragraph--type--paragraph-visualization {
  margin: 0 auto;
  padding: 100px 0;
  width: calc(100% - 50px);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-visualization {
    max-width: 1980px;
    width: calc(100% - 200px);
  }
}