.paragraph--type--paragraph-visualization {
  margin: 0 auto;
  padding: 100px 0;
  width: calc(100% - 125px);
  min-height: 100vh;

  .products-gallery {

    .products-gallery__images {
      position: relative;
      margin-bottom: calc(20% + 25px);

      .product-image__wrapper {
        aspect-ratio: 9/11;

        @for $i from 2 through 4 {
          &:nth-child(#{$i}) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1 - $i;
            width: 110% - $i * 10;
            top: 15 * $i - 15%;
          }
        }

        [class*='product-image'] {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    .products-gallery__details {

      [class*='product-name'],
      [class*='product-description'] {
        &:not([class$='__active']) {
          display: none
        }
      }

      [class*='product-name'] {
        color: $white;
        margin: 0;
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-visualization {
    max-width: 1980px;
    width: calc(100% - 160px);

    .products-gallery {
      .products-gallery__images {
        margin-bottom: 25px;

        .product-image__wrapper {
          &:first-child {
            max-width: 50%;
            margin-left: auto;
          }

          @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
              height: 110% - $i * 10;
              top: 50%;
              transform: translateY(-50%);
              width: initial;
              left: initial;
            }
          }

          &:nth-child(2) {
            right: 25%;
          }

          &:nth-child(3) {
            right: 45%;
          }

          &:nth-child(4) {
            right: 65%;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .paragraph--type--paragraph-visualization {
    display: flex;
    align-items: center;

    .products-gallery {
      display: inline-flex;
      align-items: center;
      gap: 50px;

      .products-gallery__images {
        margin-bottom: initial;
        width: 60%;
      }

      .products-gallery__details {
        width: 40%;

        [class*='product-name'] {
          font-size: 4rem;
          line-height: 4rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .paragraph--type--paragraph-visualization .products-gallery .products-gallery__details {
    [class*='product-name'] {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}