.paragraph--type--paragraph-visualization {
  margin: 0 auto;
  padding: 100px 0;
  width: calc(100% - 125px);
  min-height: 100vh;

  .products-gallery {

    .products-gallery__images {
      position: relative;
      margin-bottom: calc(20% + 25px);

      .product-image__wrapper {
        aspect-ratio: 9/11;
        overflow: hidden;
        position: relative;

        @for $i from 2 through 4 {
          &:nth-of-type(#{$i}) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1 - $i;
            width: 110% - $i * 10;
            top: 15 * $i - 15%;
          }
        }

        .product-image {
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: absolute;
          transition: right .75s ease-in-out;

          &.active {
            animation: change-product .75s ease-in-out;
          }
        }
      }

      .prev-product,
      .next-product {
        height: 42px;
        position: absolute;
        width: 42px;
        border-radius: unset;
        border: none;
        color: transparent;
        right: -50px;
        transform: translateY(-50%);
        padding: 0;
        background: none;
        cursor: pointer;

        &:hover {
          &::after {
            border-color: $white;
          }
        }

        &::after {
          content: '';
          display: block;
          border-top: 2px solid rgba($white, .4);
          border-right: 2px solid rgba($white, .4);
          height: 30%;
          width: 30%;
          position: absolute;
          left: 50%;
        }
      }

      .prev-product {
        top: calc(50% - 25px);

        &::after {
          top: 40%;
          transform: translateX(-50%) rotate(-45deg);
        }
      }

      .next-product {
        top: calc(50% + 25px);

        &::after {
          top: 25%;
          transform: translateX(-50%) rotate(135deg);
        }
      }
    }

    .products-gallery__details {

      [class*='product-details'] {
        &:not([class$='__active']) {
          display: none
        }

        .product-name {
          color: $white;
          margin: 0;
          font-size: 3rem;
          line-height: 3rem;
        }
      }
    }
  }
}

@keyframes change-product {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5, 1.1)
  }

  100% {
    transform: scale(1)
  }
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-visualization {
    max-width: 1980px;
    width: calc(100% - 160px);

    .products-gallery {
      .products-gallery__images {
        margin-bottom: 25px;
        padding: 0 50px;

        .product-image__wrapper {
          &:first-child {
            max-width: 50%;
            margin-left: auto;
          }

          @for $i from 2 through 4 {
            &:nth-of-type(#{$i}) {
              height: 110% - $i * 10;
              top: 50%;
              transform: translateY(-50%);
              width: initial;
              left: initial;
            }
          }

          &:nth-of-type(2) {
            right: 27.5%;
          }

          &:nth-of-type(3) {
            right: 45%;
          }

          &:nth-of-type(4) {
            right: 62.5%;
          }
        }

        .prev-product,
        .next-product {
          top: 50%;
        }

        .prev-product {
          left: 0;

          &::after {
            transform: translateX(-50%) rotate(-135deg)
          }
        }

        .next-product {
          right: 0;

          &::after {
            transform: translateX(-50%) rotate(45deg)
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .paragraph--type--paragraph-visualization {
    display: flex;
    align-items: center;

    .products-gallery {
      display: inline-flex;
      align-items: center;
      gap: 50px;
      width: 100%;

      .products-gallery__images {
        margin-bottom: initial;
        width: 60%;
      }

      .products-gallery__details {
        width: 40%;

        [class*='product-details'] {
          .product-name {
            font-size: 4rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .paragraph--type--paragraph-visualization .products-gallery .products-gallery__details {
    [class*='product-details'] {
      .product-name {
        font-size: 5rem;
        line-height: 5rem;
      }
    }
  }
}