body {
  background-color: $color-canvas;
  color: $color-text-primary;
  background-image: none;
  font-family: 'Everett', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-primary;
    font-family: "Everett Jana";
    font-weight: 400;
  }
}
