.paragraph--type--paragraph-hero {
  position: relative;
  margin: 0 auto;
  padding: 136px 62.5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-hero {
    align-items: flex-end;
    padding-left: 80px;
    padding-right: 80px;
    text-align: right;
    max-width: 1760px;
  }
}
