.paragraph--type--paragraph-products {
  position: relative;
  margin: 0 auto;
  padding: 136px 62.5px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-products {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 992px) {
  .paragraph--type--paragraph-products {
    display: flex;
    align-items: center;
  }
}

@keyframes change-product {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5, 1.1)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes change-products-background {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .3;
  }
}
