#block-visualize-cookie-notice {
  background-color: #666666;
  border-radius: 15px;
  bottom: 43px;
  font-size: 0.875rem;
  left: 30px;
  line-height: 1.125rem;
  margin: 0;
  max-width: 290px;
  position: fixed;
  z-index: 2;

  &.closing {
    opacity: 0;
    transition: width 0.375s ease-in-out 0.25s, opacity 0.5s ease-out 0.75s;
    width: 70px;

    .block__content {
      transition-delay: 0.25s;

      p,
      .close-button {
        opacity: 0;
        transition: opacity 0.25s ease-in;
      }
    }
  }

  .block__content {
    align-items: center;
    display: inline-flex;
    height: 70px;

    p {
      margin: 14px 0;
    }

    #cookie-icon {
      align-items: center;
      display: flex;
      margin: 17px 20px;
    }

    .close-button {
      margin-right: 12px;
    }
  }
}

@media (min-width: 576px) {
  #block-visualize-cookie-notice {
    left: 62.5px;
    bottom: 45px;
    max-width: 365px;

    .block__content {
      height: 65px;
    }
  }
}

@media (min-width: 768px) {
  #block-visualize-cookie-notice {
    left: 80px;
  }
}
