#block-visualize-footer-with-partners {
  background-color: $color-canvas;
  margin-bottom: 0;

  .block__content {
    padding: 0px 62.5px 48px;

    .partners-images {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      margin-bottom: 76px;
      width: 100%;

      .field {
        width: 100%;
        max-width: 200px;
        margin: 0;
      }
    }

    a {
      color: $color-text-primary;
    }

    .copy {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  #block-visualize-footer-with-partners .block__content {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1200px) {
  #block-visualize-footer-with-partners .block__content {
    max-width: 1760px;
    margin: 0 auto;
  }
}