#block-visualize-site-branding {
  position: fixed;
  top: 48px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);

  .block__content {
    display: flex;
    justify-content: center;

    .site-name {
      clip-path: inset(0 0 99.9% 99.9%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
}
