@font-face {
  font-family: 'Everett';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Everett-Regular.ttf");
}

@font-face {
  font-family: 'Everett';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Everett-Light.ttf");
}

@font-face {
  font-family: 'Everett';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Everett-Medium.ttf");
}

@font-face {
  font-family: 'Everett Jana';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Everett-Jana.ttf");
}

@font-face {
  font-family: 'GT Cinetype';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GT-Cinetype-Regular.ttf");
}

@font-face {
  font-family: 'GT Cinetype';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GT-Cinetype-Bold.ttf");
}