<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" height="42" width="42">
	<path data-name="Cookie notice icon" d="M15 30A15 15 0 0 1 4.393 4.393a15 15 0 0 1 21.213 21.213A14.9 14.9 0 0 1 15 30Zm-.668-24.178a4.493 4.493 0 0 0-2.028.486L9.961 7.5A4.448 4.448 0 0 0 8 9.461L6.812 11.8a4.466 4.466 0 0 0-.435 2.744l.409 2.586a4.465 4.465 0 0 0 1.261 2.47L9.9 21.454a4.441 4.441 0 0 0 2.464 1.256l2.6.412a4.471 4.471 0 0 0 2.73-.433l2.347-1.189A4.463 4.463 0 0 0 22 19.537l1.19-2.337a4.472 4.472 0 0 0 .437-2.708 4.336 4.336 0 0 1-4.287-4.334 4.337 4.337 0 0 1-4.334-4.287 4.5 4.5 0 0 0-.674-.049ZM12.289 18.3a1.085 1.085 0 1 1 1.085-1.085 1.086 1.086 0 0 1-1.085 1.085Zm6.511-1.088a1.085 1.085 0 1 1 1.084-1.085 1.086 1.086 0 0 1-1.084 1.085Zm-5.423-4.339a1.085 1.085 0 1 1 1.085-1.085 1.086 1.086 0 0 1-1.089 1.085Z" fill="#fff"/>
</svg>
<p>{{ cookie_notice }}</p>
<button id="cookie-notice-close-btn" type="button" title="{{ "Close" | t }}">
	&#x2715
</button>
