.paragraph--type--paragraph-compare-services {
  padding: 136px 62.5px 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .splide {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .paragraph--type--paragraph-compare-services {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1200px) {
  .paragraph--type--paragraph-compare-services {
    margin: 0 auto;
    max-width: 1760px;
  }
}